.nav-content {
    width: 100vw;
    margin:auto;
    float:none;
}

.nav-content-left {
    text-align: left;
    background-color: white;
    padding-top:2%;
    padding-left:2%;

}

.nav-content-right {
    text-align: right;
    background-color: white;
    padding-top:2%;
    padding-right:2%;

}

.img-circle {
    border-radius: 50%;
}

.img-profile {
    margin:0;
    height: 55%;
    width: 55%;
}

.profile-picture{
    text-align: center;
    padding: 0;
    margin: 0;
}

.login-content-place {
    margin: auto;
    width: 50vw;
    height: 50vh;
    text-align: center;
}

