html {
    position: absolute;
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    width: 100%;
    background-color: white;
    color: #464646;
    font-family: arial, helvetica, serif;
    margin: 0;
    padding: 0;
    overflow: visible;
}

nav {
    margin: auto;
    padding-top: 10px;
    background-color: grey;
    display: table;
    height: 80px;
    width: 100%;
    -webkit-box-shadow: 0 0 8px 2px #000000;
    -moz-box-shadow: 0 0 8px 2px #000000;
    box-shadow: 0 0 8px 2px #000000;
}

#nav-left{
    padding-left: 45px;
    display: table-cell;
    text-align: left;
    width: 50%;
}

#nav-right {
    padding-right: 45px;
    display: table-cell;
    text-align: right;
    width: 50%;
}


