body {
    padding-top: 130px;
    background-color: #1d8db9;
}

main {
    text-align: center;
    margin: auto;
}

#nav-profile {
    display: inline-block;
    color: #979797;
}

.navbar-white {
    padding: 20px;
    background-color: white;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: medium;
}

.img-circle {
    border-radius: 50%;
}

.img-profile {
    height: 55px;
    width: 55px;
}