<div id="root" style="width: 280px; margin: 40px auto; padding: 10px;">
    <div class="card">
        <a href="javascript:void(0)" class="switch-trigger">
            <p>Background Image</p>
            <div class="switch has-switch" data-on-label="ON" data-off-label="OFF">
                <div class="switch-animate switch-on"><input type="checkbox" checked=""><span class="switch-left">ON</span><label>&nbsp;</label><span class="switch-right">OFF</span></div>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>