<main>
    <a href="/login" class="btn btn-default">Login</a>
</main>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Admin</h4>
                <p class="category">Login</p>
            </div>
            <div class="content">
                <a href="/login"><button>Login</button></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card ">
            <div class="header">
                <h4 class="title">Customer</h4>
                <p class="category">Login</p>
            </div>
            <div class="content">
                <a href="/login"><button>Login</button></a>
            </div>
        </div>
    </div>
</div>
