<div id="root" style="width: 280px; margin: 40px auto; padding: 10px;">
    <script>
        var options = {
            auth: {
                redirectUrl: '{{env.AUTH0_CALLBACK_URL}}',
                responseType: 'code',
                params: 'something'
            },
            allowSignUp: false,
            theme: {
                logo: 'http://effectmedia.effecttv.se/2015/06/effect_46.png',
                primaryColor: '#E021AA'
            },
            allowedConnections: ['Username-Password-Authentication'],
            language: 'sv',
            languageDictionary: {
              title: 'Effect Kundlogin'
            }
        };

        var lock = new Auth0Lock('{{env.AUTH0_CLIENT_ID}}', '{{env.AUTH0_DOMAIN}}', options);

        lock.on("authenticated", function(authResult) {
          console.log(authResult);
          console.log('authenticated');

            lock.getUserInfo(authResult.accessToken, function(error, profile) {

                if (error) {
                  //TODO remove/fix this before production
                  console.error(error);
                    return;
                }

                localStorage.setItem('idToken', authResult.idToken);
                localStorage.setItem('accessToken', authResult.accessToken);
                localStorage.setItem('profile', JSON.stringify(profile));
            });
        });

        lock.show();
    </script>
</div>