<div class="card dashboard-content-place">
    <div class="report-settings">
        <h1>{{form.[customer]}}</h1>
        <div id="charts" style="width: 30%; margin-top: 50px; padding: 10px; float: left">
            <div class="card">
                <div class="header">
                    <h4 class="title">Utveckling</h4>
                </div>
                <canvas id="canvasBarChart" width="400" height="400"></canvas>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Mest besök</h4>
                </div>
                <canvas id="canvasPieChart" width="400" height="400"></canvas>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Ingångskällor</h4>
                </div>
                <canvas id="canvasDoughnutChart" width="400" height="400"></canvas>
            </div>
            <script src="/js/Chart.min.js"></script>
            <script>
                var canvasBarChart = document.querySelector("#canvasBarChart");
                var canvasPieChart = document.querySelector("#canvasPieChart");
                var canvasDoughnutChart = document.querySelector("#canvasDoughnutChart");

                function createChart(type, canvas, data) {
                    var options;

                    switch (type) {
                        case 'bar':
                            options = {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            };
                            break;
                        case 'pie':
                        case 'doughnut':
                        default:
                            options = {
                                animation:{
                                    animateScale:true
                                }
                            };
                            break;

                    }


                    var myChart = new Chart(canvas, {
                        type: type,
                        data: data,
                        options: options
                    });

                    return myChart;
                }

                var dataBarChart = {
                    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                    datasets: [{
                        label: 'Clicks',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                };

                var dataPieAndDoughnut = {
                    labels: [
                        "Red",
                        "Blue",
                        "Yellow"
                    ],
                    datasets: [
                        {
                            data: [300, 50, 100],
                            backgroundColor: [
                                "#FF6384",
                                "#36A2EB",
                                "#FFCE56"
                            ],
                            hoverBackgroundColor: [
                                "#FF6384",
                                "#36A2EB",
                                "#FFCE56"
                            ]
                        }]
                };

                var barChart = createChart('bar', canvasBarChart, dataBarChart);
                var pieChart = createChart('pie', canvasPieChart, dataPieAndDoughnut);
                var doughnutChart = createChart('doughnut', canvasDoughnutChart, dataPieAndDoughnut);
            </script>
            </div>
            <div id="stats" style="width: 70%; margin: 40px auto; padding: 20px; float: right">
                <div class="card">
                    {{#each form}}
                        {{#if this.[active]}}
                            <div class="header">
                                <h2 class="title">{{this.[name]}}</h2>
                                {{#each this.[features]}}
                                    <h3>{{this}}</h3>
                                {{/each}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
    </div>
</div>