<div class="card dashboard-content-place">
    <div class="report-settings">
        <h1>{{form.[customer]}}</h1>
        <div id="charts" class="toTheLeft">
            <div class="card">
                <div class="header">
                    <h4 class="title">Utveckling</h4>
                </div>
                <canvas id="canvasBarChart" width="400" height="400"></canvas>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Mest besök</h4>
                </div>
                <canvas id="canvasPieChart" width="400" height="400"></canvas>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Ingångskällor</h4>
                </div>
                <canvas id="canvasDoughnutChart" width="400" height="400"></canvas>
            </div>
            <script src="/js/Chart.min.js"></script>
            <script>
                var canvasBarChart = document.querySelector("#canvasBarChart");
                var canvasPieChart = document.querySelector("#canvasPieChart");
                var canvasDoughnutChart = document.querySelector("#canvasDoughnutChart");

                function createData(labels, values) {

                    var data = {
                        labels: labels,
                        datasets: [{
                            label: 'Clicks',
                            data: [12, 19, 3, 5, 2, 3, 4, 5],
                            backgroundColor: [
                                'black',
                                'lightgrey',
                                'darkgrey',
                                'dimgray',
                                'silver',
                                'darkslategrey',
                                'lightslategrey',
                                'slategrey',
                            ],
                            borderColor: [
                                'black',
                                'black',
                                'black',
                                'black',
                                'black',
                                'black',
                                'black',
                                'black',
                            ],
                            borderWidth: 0.5,
                        },
                        ],
                    };
                    return data;
                }

                function createChart(type, canvas, data) {
                    var options;

                    switch (type) {
                        case 'bar':
                            options = {
                                legend: {
                                    display: false,
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                        },
                                    },
                                    ],
                                },
                            };
                            break;
                        case 'pie':
                        case 'doughnut':
                        default:
                            options = {
                                animation: {
                                    animateScale: true,
                                },
                            };
                            break;

                    }

                    var myChart = new Chart(canvas, {
                        type: type,
                        data: data,
                        options: options,
                    });

                    return myChart;
                }

                var labels = ["Black", "Lightgrey", "Darkgrey", "Dimgray", "Silver", "Darkslategrey", "Lightslategrey", "Slategrey"];
                var values = [12, 19, 3, 5, 2, 3, 4, 5];

                var data = createData(labels, values);

                var barChart = createChart('bar', canvasBarChart, data);
                var pieChart = createChart('pie', canvasPieChart, data);
                var doughnutChart = createChart('doughnut', canvasDoughnutChart, data);
            </script>
            </div>
            <div id="stats" class="toTheRight">
                <div class="card">
                    {{#each form}}
                        {{#if this.[active]}}
                            <div class="header">
                                <h3 class="title">{{this.[name]}}</h3>
                                {{#each this.[features]}}
                                    <h3>{{this}}</h3>
                                {{/each}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
    </div>
</div>