<div class="card dashboard-content-place">
    <div class="report-settings">
        <h1 style="font-family: Impact,serif">{{form.[customer]}}</h1>
        <div id="charts" style="width: 30%; margin-top: 50px; padding: 10px; float: left">
            <div class="card">
                <div class="header">
                    <h4 class="title">Utveckling</h4>
                </div>
                <canvas id="canvasBarChart" width="400" height="400"></canvas>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Mest besök</h4>
                </div>
                <canvas id="canvasPieChart" width="400" height="400"></canvas>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Ingångskällor</h4>
                </div>
                <canvas id="canvasDoughnutChart" width="400" height="400"></canvas>
            </div>
            <script src="/js/Chart.min.js"></script>
            <script>
                var canvasBarChart = document.querySelector("#canvasBarChart");
                var canvasPieChart = document.querySelector("#canvasPieChart");
                var canvasDoughnutChart = document.querySelector("#canvasDoughnutChart");

                function createChart(type, canvas, data) {
                    var options;

                    switch (type) {
                        case 'bar':
                            options = {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            };
                            break;
                        case 'pie':
                        case 'doughnut':
                        default:
                            options = {
                                animation:{
                                    animateScale:true
                                }
                            };
                            break;

                    }


                    var myChart = new Chart(canvas, {
                        type: type,
                        data: data,
                        options: options
                    });

                    return myChart;
                }

                var dataBarChart = {
                    labels: ["Black", "Lightgrey", "Darkgrey", "Dimgray", "Silver", "Darkslategrey", "Lightslategrey", "Slategrey"],
                    datasets: [{
                        label: 'Clicks',
                        data: [12, 19, 3, 5, 2, 3, 4, 5],
                        backgroundColor: [
                            'black',
                            'lightgrey',
                            'darkgrey',
                            'dimgray',
                            'silver',
                            'darkslategrey',
                            'lightslategrey',
                            'slategrey'
                        ],
                        borderColor: [
                            'black',
                            'black',
                            'black',
                            'black',
                            'black',
                            'black',
                            'black',
                            'black'
                        ],
                        borderWidth: 0.5
                    }]
                };

                var dataPieAndDoughnut = {
                    labels: [
                        "Black",
                        "Lightgrey",
                        "Darkgrey",
                        "Dimgrey",
                    ],
                    datasets: [
                        {
                            data: [300, 50, 100, 200],
                            backgroundColor: [
                                "black",
                                "lightgrey",
                                "darkgrey",
                                "dimgrey"
                            ],
                            hoverBackgroundColor: [
                                "black",
                                "lightgrey",
                                "darkgrey",
                                "dimgrey"
                            ]
                        }]
                };

                var barChart = createChart('bar', canvasBarChart, dataBarChart);
                var pieChart = createChart('pie', canvasPieChart, dataPieAndDoughnut);
                var doughnutChart = createChart('doughnut', canvasDoughnutChart, dataPieAndDoughnut);
            </script>
            </div>
            <div id="stats" style="width: 70%; margin: 40px auto; padding: 20px; float: right">
                <div class="card">
                    {{#each form}}
                        {{#if this.[active]}}
                            <div class="header">
                                <h3 class="title">{{this.[name]}}</h3>
                                {{#each this.[features]}}
                                    <h3>{{this}}</h3>
                                {{/each}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
    </div>
</div>